<!DOCTYPE html>
<html lang="pl">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/public/css/style.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>
      <title>GameRate - serwis do oceniania gier</title>
</head>

<body>
      <div class="nav">
            <img src="/assets/img/logo.png" alt="GameRate" class="logo">
            <ul>
                  <li><a href="" class="href">Główna</a></li>
                  <li><a href="" class="href">Ranking gier</a></li>
                  <li><a href="" class="href">Dodaj grę</a></li>
                  <li><a href="" class="href">Kontakt</a></li>
                  <li><a href="" class="href">Logowanie</a></li>
            </ul>
      </div>
      <main class="login">
            <div class="login">
                  <form class="login-form">
                        <p>Logowanie</p>
                        <input name="email" type="text" placeholder="Email">
                        <input name="password" type="password" placeholder="Hasło">
                        <button>Zaloguj</button>
                  </form>
            </div>
      </main>
</body>

</html>