*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body
{
    background-image: url("/assets/img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    color: white;
    height: 100vh
}

img.logo
{
    margin-left: 40px;
}

div.message
{
    text-align: center;
    color: red;
}

main.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 126px);
    color: black;
    padding: 20px ;
}

.no-valid
{
    border: 3px solid red;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

/* ------------- NAVBAR ------------- */

div.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 10px 0;
}

div.nav ul
{
    display: flex;
    list-style-type: none;
    margin-right: 40px;
}

div.nav ul li a
{
    color: white;
    padding: 45px;
    text-decoration: none;
}

div.nav ul li a:hover
{
    color: gray;
}

/* ------------- INDEX ------------- */

div.index-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 1500px;
    min-height: calc(100vh - 126px);
    margin: 0 auto;
    padding: 0 40px;
}

div.index
{
    padding-bottom: 50px;
}

div.text
{
    border-bottom: 1px solid white;
    width: 500px;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

div.text h2
{
    font-size: 70px;
    text-transform: uppercase;
}

p.text
{
    font-size: 25px;
    margin-bottom: 30px;
}

a.button
{
    color: white;
    border: 1px solid red;
    text-decoration: none;
    padding: 10px 35px;
}

a.button:hover
{
    color: white;
    background-color: red;
}

/* ------------- LOGIN ------------- */

form.style-to-form p.register
{
    font-size: 0.8rem;
}

form.style-to-form p.register a
{
    text-decoration: none;
    color: red;
}

/* ------------- CONTACT ------------- */

div.contact
{
    background-color: white;
    max-width: 600px;
    padding: 40px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

div.about p:first-child i
{
    color: red;
}

div.about p.title
{
    text-transform: uppercase;
    text-align: center;
}

div.about p:first-child
{
    font-weight: 700;
    font-size: 1.6rem;
}

div.about div
{
    padding: 20px;
}

/* ------------- RANKING ------------- */

main.ranking-wrapper
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px 0;
    padding: 0 30px;
}

main.ranking-wrapper .sort-button:hover
{
    color: gray;
    cursor: pointer;
}

main.ranking-wrapper input, div.sort, div.game
{
    margin: 20px 0;
    border-radius: 4px;
}

main.ranking-wrapper input:first-child
{
    max-width: 800px;
    width: 100%;
    padding: 10px 10px;
}

div.sort
{
    max-width: 800px;
    width: 100%;
    background-color: white;
    color: black;
    justify-content: space-between;
    padding: 10px 30px;
    display: flex;
}

div.sort p
{
    padding: 0 30px;
}

section.all-games
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.game
{
    display: flex;
    max-width: 90%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
}

div.game div.game-img img
{
    min-width: 200px;
    max-width: 200px;
}

div.game div.game-img, div.game-info, div.game-desc, div.game-rate
{
    margin: 15px;
}

div.game div.game-info
{
    width: 60%;
}

div.game div.game-info p:nth-child(2n)
{
    font-weight: bold;
}

div.game div.game-rate
{
    padding: 15px;
    background-color: #03dc15e9;
    text-align: center;
    font-size: 3rem;
}

div.game div.game-desc
{
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 30px;
}

div.game div.game-rate-user
{
    margin-right: 20px;
}

div.game div.game-rate-user button
{
    background-color: transparent;
    color: black;
    border: 2px solid green;
    text-decoration: none;
    padding: 10px 35px;
    width: 100px;
}

div.game div.game-rate-user button:hover
{
    color: white;
    background-color: green;
    cursor: pointer;
}

div.game div.game-rate-user input, button
{
    width: 100px;
    border-radius: 0;
}

/* ------------- FORM STYLE ------------- */

div.form-style
{
    background-color: white;
    max-width: 600px;
    padding: 40px 10px;
    width: 100%;
    border-radius: 4px;
}

form.style-to-form > *
{
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
}

form.style-to-form p > i{
    color: red;
}

form.style-to-form > input, textarea
{
    border: 1px solid #d1d1d1;
    padding-left: 20px;
    padding-right: 20px;
}

form.style-to-form p
{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
}

form.style-to-form button
{
    background-color: transparent;
    border: 1px solid red;
    cursor: pointer;
}

form.style-to-form button:hover
{
    background-color: red;
    color: white;
}